<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <center>
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZNsJMW49Qlh2ys3n0N0W1ByzpKb7fbptEfA&usqp=CAU" class="d-block w-100%" alt="광고이미지">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZNsJMW49Qlh2ys3n0N0W1ByzpKb7fbptEfA&usqp=CAU" class="d-block w-100%" alt="광고이미지">
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZNsJMW49Qlh2ys3n0N0W1ByzpKb7fbptEfA&usqp=CAU" class="d-block w-100%" alt="광고이미지">
      </div>
        </center>
    </div>
    <button class="carousel-control-prev p-4" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bg-black" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon-" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>